@model IEnumerable<WebApplication.Models.AnnouncementViewModel>

@{
    ViewBag.Title = "Announcement Status: ";
    ViewBag.SubTitle = "";
}

@section Menu {
    @Scripts.Render("~/Scripts/Tables/Data/menu")
}

@Styles.Render("~/AdminLTE/plugins/datatables/css")
@using System.Globalization
<div class="row">

    <div class="col-xs-12">

        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Users</h3>
            </div>
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Announcement</th>
                            <th>User Name</th>
                            <th>Stats</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var announcement in Model)
                        {
                            foreach (var item in announcement.AnnouncementReads.OrderBy(m => m.UserName))
                            {
                                <tr>
                                    <td>@Html.DisplayFor(m => announcement.Subject)</td>
                                    <td>@Html.DisplayFor(m => item.UserName)</td>
                                    <td>@Html.DisplayFor(m => item.Status) </td>
                                </tr>
                            }
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Announcement</th>
                            <th>User Name</th>
                            <th>Stats</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/AdminLTE/plugins/datatables/js")
    @Scripts.Render("~/Scripts/Tables/Data")
}